# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
Django==2.2.24
django-libs==1.48.1
-e git+git://github.com/pinax/django-mailer.git@919805e25fc18b06487b25414d4e5d5e05a92108#egg=mailer

# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
factory_boy
flake8
nose
django-nose
coverage
django-coverage
django-jasmine
selenium
ipdb
